<volt-content-card [title]="' Top Suppliers Count'">
  <ng-template voltTemplate="headerRight">
    <header class="self-start">
      <span class="p-tag rounded-full">{{ dateRangeLabel }}</span>
    </header>
  </ng-template>
  <ng-template voltTemplate="content">
    <volt-loading-container
      [loading]="topSupplierResponse.status"
      [error]="topSupplierResponse.error"
    >
      <highcharts-chart
        [Highcharts]="Highcharts"
        [options]="chartOptions"
        [oneToOne]="true"
        [runOutsideAngular]="true"
        [(update)]="chartUpdate"
      ></highcharts-chart>
    </volt-loading-container>
  </ng-template>
</volt-content-card>
